{% extends 'base.html' %}
{% block content %}
<div class="active">
    <a.active href="#student"></a>
  </div>
<h1 style="color: #590672;"> Schüler</h1>
<table  cellspacing="10" cellpadding="20">
    <tr>
        <th style="font-size: 18px; color: #900c3f;">Name</th>
        <th style="font-size: 18px; color: #c70039;">Montag</th>
        <th style="font-size: 18px; color: #c70039;">Dienstag</th>
        <th style="font-size: 18px; color: #c70039;">Mittwoch</th>
        <th style="font-size: 18px; color: #c70039;">Donnerstag</th>
        <th style="font-size: 18px; color: #c70039;">Freitag</th>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.rating1 }}</td>
        <td>{{ student.rating2 }}</td>
        <td>{{ student.rating3 }}</td>
        <td>{{ student.rating4 }}</td>
        <td>{{ student.rating5 }}</td>
    </tr>
    {% endfor %}
</table>
</br>
</br>
<form action="/saveStudents" method="GET">
    <input  style="height: 50px; width: 100px; font-size: 18px; font-weight: bold; background-color: #ccccff; color: #333333; box-shadow: 2px 2px 5px #660033;" type="submit" value="Speichern">
</form>
{% endblock %}