{% extends 'base.html' %}
{% block content %}

<h1 style="color: #000033;"> Schüler</h1>
<table border="8" cellspacing="10" cellpadding="20">
    <tr>
        <th style="font-size: 18px; color: #00cc99;">Name</th>
        <th style="font-size: 18px; color: #3333CC;">Montag</th>
        <th style="font-size: 18px; color: #3333CC;">Dienstag</th>
        <th style="font-size: 18px; color: #3333CC;">Mittwoch</th>
        <th style="font-size: 18px; color: #3333CC;">Donnerstag</th>
        <th style="font-size: 18px; color: #3333CC;">Freitag</th>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.rating1 }}</td>
        <td>{{ student.rating2 }}</td>
        <td>{{ student.rating3 }}</td>
        <td>{{ student.rating4 }}</td>
        <td>{{ student.rating5 }}</td>
    </tr>
    {% endfor %}
</table>
</br>
</br>
<form action="/saveStudents" method="GET">
    <input  style="height: 50px; width: 100px; font-size: 18px; background-color: #006699; color: white; box-shadow: 2px 2px 5px #010435;" type="submit" value="Speichern">
</form>
{% endblock %}